li {
    font-size: .9em;
}

blockquote {
    border-left: 2px solid #f79626;
}

blockquote > p {
    padding-left: 10px;
    line-height: 1.3em;
}

#home-content {

}

#home-content > h1 {
    background-color: #f79626;
    color: white;
    padding: 2px;
    text-align: center;
}

#home-content > h1 > a {
    color: white;
}

#home-image-box {
    padding: 25px;
    min-height: 200px;
    background-size: cover;
    opacity: 80%;
}

#home-image-box > div {
    opacity: 100%;    
    color: white;
}

#home-image-box > div > p {
    /* background-color: #f79626; */
    /* padding: 2px; */
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 600;
}

.Contact {
    max-width:30rem;
    margin:1.5rem auto
}
.Contact-group {
    list-style-type:none;
    margin:0;
    padding:0
}
.Contact-hidden {
    display:none
}
.Contact-item {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:.5rem 0
}
.Contact-label {
    flex-basis:5rem
}
.Contact-input {
    flex-grow:1;
    flex-basis:15rem
}
.Contact-input--textbox {
    resize:vertical;
    height:5rem;
    width:100%;
}
.Contact-button {
    margin-left:auto
}

.Heading-link {
    color: #f79626;
    text-decoration: underline;
}
   
.CenteredTable > table {
    margin: auto;
}
.CenteredTable > table > tbody > tr > td {
    padding: 2px 20px;
}

.TopLink > a {
    font-size: 1.1em;
    line-height: 1.8em;
}

.SocialMediaBox { 
    background-color: #f79626;
    max-width: 300px;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 22px;
}

.SocialMediaBox > h3 {
    color: white;
    text-align:center;
}

.SocialMediaBox > .FlexIcons {
    display: flex;
    justify-content: space-evenly;
}

.SocialMediaBox > .FlexIcons > a > img {
    width: 32px;
    height: 32px;
}