{{ $home_content_image := .Param "home_content_image"}}
{{ $home_content_image := (trim $home_content_image "/") | absURL }}
<div id='home-image-box' style="background-image: url('{{ $home_content_image }}');">
    <div>
        <h1>Tired of waiting? </h1>
        <p>
            We're Bus Riders United STL, and so are we.
        </p>
        <p style='font-weight: normal; font-size: 1em;'>
            We're a union of bus riders fighting for better buses. 
            We have meetings each month on the 1st Sunday and the 3rd Wednesday, open to all.
        </p>
        <p>
            <a style='font-weight: normal; font-size: 1em; color:white;'
                href='https://airtable.com/shrOHGnMaHeaoB1ZK'>
                [ RSVP here ]
            </a>
        </p>
    </div>
</div>